


h1
{
	color: blue;
}
p
{
	font-size: 14px
}
p
{
	font-family: Times New Roman, "Arial", Verdana, Arial Black;
}
p
{
	text-align: justify-all;
}
body
{
	background-color:#94B5B1;
}
.img {
	width: 200px;
}

#video {
	width: 400px;
}

.vid {
	width: 100%;
}
